
.logo{
    width: 140px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.title{
    font-size: 20px;
}
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.graduate{
    width: 80px;
}
.divider{
    margin: auto;
   
    color: rgb(226, 224, 224);
    width: 75%;
    border-bottom: 2px solid;
    border-radius: 2px;
    
}
