
.about{
    overflow: hidden;
    width: 100vw;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   margin: 20px auto;
}
.title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}

.graduate{
    object-fit: cover;
    width: 55px;
    height: 55px;
    margin-right: 20px;
}
.divider2{
    margin: auto;
    color: rgb(88, 86, 86);
    width: 100%;
    border-bottom: 2px solid;
    border-radius: 2px;
}
.education-bars{
    margin: 15px;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.education-bar{
    display: flex;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
}
.about-para{
    font-size: 14px;
    margin-bottom: 20px;
}
.about-title{
    font-size: 30px;
    font-weight: 600;
   
}
.study{
    font-size: 20px;
   font-weight: 500;
}
.edu-para{
    font-size: 12px;
    color: rgb(194, 192, 192);
}
@media screen and (max-width:965px) {
    .title{
        font-size: 24px;
        font-weight: 500;
    }
    .about-title{
        font-size: 24px;
        font-weight: 500;}
    .study{
        font-size: 16px;
       font-weight: 400;
    }
    .about-para{
        font-size: 12px;
    }
    .edu-para{
        font-size: 11px;
    }
    .graduate{
        object-fit: cover;
        width: 50px;
        height: 50px;
        margin-right: 18px;
    }
}
@media screen and (max-width:500px) {
    .title{
        font-size: 20px;
        font-weight: 400;
    }
    .about-title{
        font-size: 20px;
        font-weight: 400;}
    .study{
        font-size: 14px;
       font-weight: 400;
    }
    .about-para{
        font-size: 10px;
    }
    .edu-para{
        font-size: 10px;
    }
    .graduate{
        object-fit: cover;
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }
}