.intro-container{
    margin:  auto;
    margin-bottom: 20px;
    width: 100vw;
    max-width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
}
.html-icon{
    color: white;
    width: 50px;
}
.hello{
    font-size: 30px;
    font-weight: 600;
}
.introname{
    color: rgba(242, 242, 5, 0.844);
    font-size: 30px;
    font-weight: 600;
}

.left-part{
    max-width: 580px;
}
.intro-para{
    font-size: 14px;
    margin-top: 10px;
}

.my-img{
    object-fit: cover;
    height: 100vh;
    width: 610px;
    height: 620px;
    
}
.divider{
    margin: auto;
   
    color: rgb(88, 86, 86);
    width: 65%;
    border-bottom: 2px solid;
    border-radius: 2px;
    
}
@media screen and (max-width:965px) {
    *{
        margin: auto;
    }
    .intro-container{
        display: flex;
        flex-direction: column;
        
    }
    .intro-para{
        font-size: 12px;
        margin-top: 10px;
    }
    .left-part{
        max-width: 350px;
        text-align: center;
    }
    .my-img{
        width: 413px;
        height: 420px;
    }
    .hello{
        font-size: 20px;
        font-weight: 500;
    }
    .introname{
        color: rgba(242, 242, 5, 0.844);
        font-size: 24px;
        font-weight: 500;
    }
}

@media screen and (max-width:500px) {
    *{
        margin: auto;
    }
    .intro-container{
        display: flex;
        flex-direction: column;
        
    }
    .intro-para{
        font-size: 12px;
        margin-top: 10px;
    }
    .left-part{
        max-width: 250px;
    }
    .my-img{
        width: 215px;
        height: 220px;
    }
    .hello{
        font-size: 16px;
    }
    .introname{
        color: rgba(242, 242, 5, 0.844);
        font-size: 22px;
        font-weight: 500;
    }
}

